<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Twittex" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>

  <body class="bg-gray-100 antialiased">
    <div class="container mx-auto px-3 sm:px-5 md:px-8 lg:px-10 xl:px-12">
      <header class="py-5 px-5 flex flex-col sm:flex-row justify-between items-center bg-white border-b border-gray-200">
        <div class="flex items-center mb-3 sm:mb-0">
          <.link href={~p"/"} class="flex">
            <.icon name="hero-beaker" class="text-orange-500 h-8 w-8 mr-2" />
            <h1 class="text-2xl font-bold text-gray-700">Twittex</h1>
          </.link>
        </div>
        <nav class="flex flex-col sm:flex-row">
          <%= if @current_user do %>
            <.navbar_link href={~p"/#{@current_user}"} text="My profile" />
            <.navbar_link href={~p"/users/settings"} text="Settings" />
            <.navbar_link href={~p"/users/log_out"}  text="Log out" method="delete"/>
          <% else %>
            <.navbar_link href={~p"/users/register"} text="Register" />
            <.navbar_link href={~p"/users/log_in"} text="Log in" />
          <% end %>
        </nav>
      </header>
      <%= @inner_content %>
    </div>
   </body>
</html>
